# 23 - Ejercicio: Topic Modeling - Noticias BBC News


* En el siguiente ejercicio tiene como objetivo aplicar los conocimientos adquiridos de ***Topic Modeling***, utilizando el LDA.


* Para ello vamos a trabajar con unos ***artículos de noticias publicados por la BBC*** que los tienen categorizados en 5 temas (Topics)

    - Business
    - Entertainment
    - Politics
    - Sport
    - Tech


* El objetivo de este ejercicio es el de ***obtener un número de temas (Topics) adecuados según los artículos y ver las relaciones entre los temas (Topics) y las palabras (Terms) que caracterizan a los temas (Topics)***.


* Pasos a realizar en el ejercicio:

    1. Carga de datos
    2. Normalizar los textos
    3. Creacción del diccionario y la bolsa de palabras
    4. Selección del número óptimo de Topics
    5. Creacción del Modelo
    6. Visualización

<hr>


## Carga de Datos


* El fichero en formato csv contiene una serie de noticias en los que le asigna una temática.


* Cada elemento del Json contiene:
    - **news**: Contenido del artículo
    - **type**: Temática
    
    
* Leemos los datos y mostramos una muestra:

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

file = './data/BBC_News.csv'
df = pd.read_csv(file, encoding="iso-8859-1")
documents = [str(x.encode('utf8')) for x in df.news.values] # Lista de documentos
df.sample(5)

                                                   news           type
621   Uganda bans Vagina Monologues\n \n Uganda's au...  entertainment
1090  Howard backs stem cell research\n \n Michael H...       politics
14    US adds more jobs than expected\n \n The US ec...       business
283   Profits stall at China's Lenovo\n \n Profits a...       business
1861  Firefox browser takes on Microsoft\n \n Micros...           tech

* Vemos los 5 tipos de artículos

In [2]:
df.groupby(['type']).count()

               news
type
business        510
entertainment   386
politics        417
sport           511
tech            401

<hr>


## Normalizar los textos

In [3]:
# TODO

<hr>


## Creacción del diccionario y la bolsa de palabras

In [4]:
# TODO

<hr>


## Selección del número óptimo de Topics

In [5]:
# TODO

<hr>


## Creacción del Modelo

In [6]:
# TODO

<hr>


## Visualización

In [7]:
# TODO